# Node modules
frontend/node_modules/
backend/node_modules/

# Environment files
backend/.env
frontend/.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Vite build
frontend/dist/

# Uploads
backend/uploads/